body{

    background-color: antiquewhite;
    color: brown;
    font: 1em sans-serif;
    
}
a{
    text-decoration: none;
}
a:hover{
    color: blue;
}
h2{
    text-align: center;
}
nav{
   display:flex;
   background-color: burlywood;
   border-radius: 2%;
}
form{
    right:0px;
    width: 300px;
    
    
}

li{
    padding-left: 5%;
    padding-right: 5%;
    list-style-type:none;
}
.navi{
    display: flex;
    width : 75%
    
}

aside{
    
    right:0;
    top: 80px;
    height: 80%;
    position:absolute;
    background-color: cadetblue;

}
p{
    width: 70%;
    
    color: brown;
    font: 1em sans-serif;
    padding-top: 10%;
}

footer{
    bottom: 0px;
    width: 500px;
    position: absolute;
}
input{

    margin-top: 5%;
    
}
