nav{
   display:flex;
}
form{
    right:0px;
    
}
li{
    padding-left: 10%;
    padding-right: 10%;
}
.navi{
    display: flex;
    width : 75%
    
}

aside{
    
    right:0;
    top: 50px;
    position:absolute;

}
p{
    width: 70%;
}

footer{
    bottom: 0px;
    width: 500px;
    position: absolute;
}
@media (max-width : 1000px){

    body{
        overflow:scroll;

    }
   
}
